.card {
    background: #03214f;
    border-radius: 8px;
    border: solid 2px black;
    box-shadow: 0 0px 10px black;
    padding: 40px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 180px; /* Set a fixed height to center logo vertically */
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 6px;
  }
  
  .skillName {
    font-size: 22px;
    color: white;
  }
  