.card {
    background: linear-gradient(135deg, #0d1120 0%, #02239c 43%, #0d1120 100%);    border-radius: 8px;
    box-shadow: 0 0px 10px black;
    border: solid 1px black;
    padding: 40px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease,  box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 180px; /* Set a fixed height to center logo vertically */
  }
  
  .card:hover {
    transform: translateY(-5px);

    border: solid 2px rgb(0, 187, 255);
    box-shadow: 0 0px 10px rgb(0, 187, 255);
  }
  
  .logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 6px;
  }
  
  .skillName {
    font-size: 22px;
    color: white;
  }
  
  